@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
 
body
{
    background-image: linear-gradient(to right  , rgba(216, 171, 87, 0.801), rgb(230, 221, 197));
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: rgb(129, 70, 14);
    font-family: 'Fascinate';
    font-size: 70px; 
    background-color: rgb(252, 241, 232);
    margin-top: 0px;
    border-radius: 10px;
    border: 3px, solid rgb(146, 121, 88);
    
}

h2{
    color: rgb(110, 69, 15);
    font-family: 'fascinate', sans-serif;
    font-size: 50px;
}

p{
    font-size: 30px;
    background-color: aliceblue;
    width: 1000px;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    border: 3px, solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px;
}

p.sla{
  visibility: hidden;
  background-color: aqua;
}

hr{
    border: 2px, solid rgb(0, 0, 0);
    width: 1600px;

}

section
{
    background-image: linear-gradient(to bottom  , rgba(69, 83, 97, 0.801), rgb(61, 63, 75));
    width: 800px;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;

}

label
{
    color: white;
    font-family: 'Fascinante';
    font-size: 40px;
}

input
{
    font-size: 30px;
    border-radius: 10px;
    border-color: white;
    text-align: center;
}

input#bt
{
    color: rgb(129, 70, 14);
    background-color: rgb(252, 241, 232);
   font-family: 'Fascinate';
   margin-bottom: 15px;
}

input#bt:hover
{
    background: rgb(238, 191, 153);
}

input:focus
{
    background: rgb(143, 140, 140);
}